<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_yk0LJZ1n7SdARTNwCKZ30g-gvMafpPg</string>
	<key>GCM_SENDER_ID</key>
	<string>582356925682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moyarishka123.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-moyarishka</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-moyarishka.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582356925682:ios:e95c3184e7118c39e9646b</string>
</dict>
</plist>